.Home {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 80%;
}

.app-welcome {
  color: goldenrod;
  letter-spacing: 8px;
  position: absolute;
  left: 0;
  right: 0;
  top: 35vh;
  opacity: 1;
}

.app-title {
  font-size: 8em;
}
.app-button {
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: underline;
  color: inherit;
  transition: 0.2s ease-in color 0s;
}

.app-button:hover {
  color: white;
}
